{% load i18n %}
{% load new_lines %}
{% load apostrof %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans "Generator Kart" %}</title>
  <link rel="shortcut icon" href="/static/img/icons/card_32.png">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">


  <script src="/static/js/jquery-3.2.1.min.js"></script>
  <script src="/static/js/jquery-ui.min.js"></script>
  <script src="/static/js/hermite.js"></script>

  <script>
    $( function() {
    
      $( "#dlg-check-title" ).dialog({
        autoOpen: false,
        resizable: false,
        height: "auto",
        width: 400,
        modal: true,
        buttons: {
          OK: function() {
            $( this ).dialog( "close" );
          }
        }
      });
      $("#params").tabs();
      $(":checkbox").checkboxradio();
      $("#params").removeClass('hidden');
      $( "#btn-check-title" ).button().on( "click", function() {
        $("#check-title-results").html("{% trans "szukam ..." %}");
        $("#dlg-check-title").dialog( "open" );
        var title = $("#title").val();
        $.getJSON( "/check_title/?title="+title, function( data ) {
          var items = [];
          $.each( data.result, function( key, val ) {
            items.push( "<li id='" + key + "'>" + val + "</li>" );
          });
          if (items.length > 0) {
            $("#check-title-results").html("Znaleziono "+items.length+":");
            $( "<ul/>", {
              "class": "my-new-list",
              html: items.join( "" )
            }).appendTo( "#check-title-results" );
          } else {
            $("#check-title-results").html("{% trans "Nie znaleziono kart o takim tytule." %}");
          }
          
        });
      });
    } );
    
  </script>
</head>
<body>


<div class="container">
  <div class="row">
    <div id="header">
      <ul>
        <li><a href="/"><img src="/static/img/icons/card_32.png"></a></li>
        <li id="hdr-title">{% trans "Generator Kart" %}</li>
        {% if user.is_authenticated %}
        <li class="rightside"><a href="/logout/">{% trans "Wyloguj" %}</a></li>
        <li class="rightside"><a href="/list/">{% trans "Moje karty" %}</a></li>
        {% else %}
        <li class="rightside"><a href="/signup/">{% trans "Zarejestruj się" %}</a></li>
        <li class="rightside"><a href="/login/">{% trans "Zaloguj" %}</a></li>
        {% endif %}
        <li class="rightside"><button type="button" id="btn-lang-en" class="btn btn-primary">EN</button></li>
        <li class="rightside"><button type="button" id="btn-lang-pl" class="btn btn-primary">PL</button></li>
      </ul>
    </div>
    
    <div class="col-sm-6">
        
      <form action="." method="post">
      {% csrf_token %}
      <div id="params" class="hidden">
        <ul>
          <li><a href="#tabs-1">{% trans "Szablon" %}</a></li>
          <li><a href="#tabs-2">{% trans "Tekst" %}</a></li>
          <li><a href="#tabs-3">{% trans "Grafika" %}</a></li>
        </ul>
        <div id="tabs-1">
            <div class="form-group">
              <label for="expansion">{% trans "z dodatku:" %}</label>
              <select id="expansion" class="form-control" >
              </select>
            </div>
            
            <div class="form-group">
              <label for="layout">{% trans "Szablon Karty:" %}</label>
              <select name="layout" id="layout" class="form-control" >
              </select>
            </div>  
        </div>
        <div id="tabs-2">
            <div class="form-group">
              <label for="title">{% trans "Nazwa Karty:" %}</label>
              <input name="title" id="title" class="form-control" type="text" value=""/>
              <button type="button" id="btn-check-title" class="btn">{% trans "Sprawdź unikalność nazwy" %}</button>
            </div>
            
            <div class="form-group">
              <label for="type">{% trans "Typ Karty:" %}</label>
              <input name="type" id="type" class="form-control" type="text" value="">              
            </div>
            
            <div class="form-group">
              <label for="encounter_nr">{% trans "Numer spotkania:" %}</label>  
              <input name="encounter_nr" id="encounter_nr" maxlength="1" class="form-control" type="text" value=""/>
            </div>
            
            <div class="form-group">
              <label for="text">{% trans "Treść:" %}</label>  
              <textarea name="text" id="text" class="form-control"></textarea>
            </div>
        </div>
        <div id="tabs-3">
       
            <div class="form-group">
              <label for="image">{% trans "Ilustracja:" %}</label>  
              <input type="file" name="image" id="image" class="form-control" onchange="readImage(this, 'blah');">
              {% if karta.picture %}
              <img id="blah" class="hidden" src="/static/cards/{{  karta.id }}/{{ karta.picture }}"/>
              {% else %}
              <img id="blah" class="hidden" src=""/>
              {% endif %}
              
            </div>
            
            <div class="form-group">
              <button id="btn-collapse" type="button" class="btn btn-primary"><img src="/static/img/icons/collapse.png"></button>
              <button id="btn-expand" type="button" class="btn btn-primary"><img src="/static/img/icons/expand.png"></button>
              <button id="btn-move-up" type="button" class="btn btn-primary"><img src="/static/img/icons/up.png"></button>
              <button id="btn-move-down" type="button" class="btn btn-primary"><img src="/static/img/icons/down.png"></button>
              <button id="btn-move-left" type="button" class="btn btn-primary"><img src="/static/img/icons/left.png"></button>
              <button id="btn-move-right" type="button" class="btn btn-primary"><img src="/static/img/icons/right.png"></button>
              <input type="hidden" id="pic_x" name="pic_x" value="0" />
              <input type="hidden" id="pic_y" name="pic_y" value="0" />
              <input type="hidden" id="pic_scale_x" name="pic_scale_x" value="1.0" />
              <input type="hidden" id="pic_scale_y" name="pic_scale_y" value="1.0" />
            </div>
            
            <div class="form-group">
              <label for="eff-sepia">Sepia</label>
              <input type="checkbox" id="eff-sepia" name="eff-sepia">
              <label for="eff-b-w">B&W</label>
              <input type="checkbox" id="eff-b-w" name="eff-b-w">
            </div>
            <br>

            <div class="form-group">
            <label for="exp-symbol">{% trans "Symbol dodatku:" %}</label>
              <select name="exp-symbol" id="exp-symbol" class="form-control">
                <option value="1">Anchor</option>
                <option value="2">Sunrise</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="exp-icon">{% trans "Własna grafika dodatku:" %}</label>  
              <input type="file" name="exp-icon" id="exp-icon" class="form-control" onchange="readImage(this, 'exp-image');">
              <img id="exp-image" class="show" src="#"/>
            </div>
            
        </div>
      </div>            
            
      <br>
      <div class="form-group">
        <label for="debug-mode">Debug mode</label>
        <input type="checkbox" name="debug-mode" id="debug-mode" value="debug">
      </div>
      
      
      <button id="btn-save"  type="button" class="btn btn-primary">{% trans "Pobierz" %}</button>
      {% if user.is_authenticated and karta.user == user %}
      <input type="submit" id="btn-post" value="{% trans "Zapisz" %}" class="btn btn-primary">      
      {% endif %}
      {% if user.is_authenticated and karta == None %}
      <input type="submit" id="btn-post" value="{% trans "Zapisz" %}" class="btn btn-primary">      
      {% endif %}
      
      </form>
    </div>
    
    
    <div class="col-sm-6" style="text-align:center">
      <div id="card-flip-buttons">
        <button id="btn-front" class="btn btn-primary">{% trans "Przód" %}</button>
        <button id="btn-back" class="btn btn-primary">{% trans "Tył" %}</button>
      </div>
      <div class="flip-container">
        <div class="flipper">
		    <div class="front"><div id="game"></div></div>
		    <div class="back"><div id="back"></div></div>
        </div>
      </div>
    </div>
      
      
   
  </div>
</div>

<div id="dlg-check-title" title="Wyszukiwanie nazwy karty">
  <p id="check-title-results"></p>
</div>
  
  <script>
    var picture = '';
    var pic_effect = null;
    
    {% if karta %}
      $("#title").val('{{ karta.nazwa|new_lines|apostrof|safe }}');
      $("#type").val('{{ karta.typ|new_lines|apostrof|safe }}');
      $("#encounter_nr").val('{{ karta.nr_spotkania|apostrof|safe }}');
      $("#text").val('{{ karta.opis|new_lines|apostrof|safe }}');
      picture = "{{ karta.picture }}";
      if (!(picture == "")) {
        picture = "{{  karta.id }}/"+picture;
      }
      var layout_to_set = "{{ karta.layout.name }}";
      var pic_x = {{ karta.pic_x }};
      var pic_y = {{ karta.pic_y }};
      var pic_scale_x = {{ karta.pic_scale_x|stringformat:".2f" }};
      var pic_scale_y = {{ karta.pic_scale_y|stringformat:".2f" }};
      $("#pic_x").val(pic_x);
      $("#pic_y").val(pic_y);
      $("#pic_scale_x").val(pic_scale_x);
      $("#pic_scale_y").val(pic_scale_y);
      $("#eff-sepia").prop('checked', {{ karta.pic_sepia|lower }})
      $("#eff-b-w").prop('checked', {{ karta.pic_bw|lower }})
    {% else %}
      var pic_x = 0;
      var pic_y = 0;
      var pic_scale_x = 1.0;
      var pic_scale_y = 1.0;
      var layout_to_set = null;    
    {% endif %}
    
    var dodatki = [
      {% for dodatek in dodatki %}{"id":{{dodatek.id}}, "caption": "{{dodatek.nazwa}}" }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ];
    
    var layouts = [
    {% for layout in layouts %} {{layout|safe}}{% if not forloop.last %},{% endif %}
    {% endfor %}];
    var defaultTypes = [
      "Zdarzenie",
      "Przedmiot",
      "Magiczny Przedmiot",
      "Nieznajomy"
    ];
    
    $( "#type" ).autocomplete({
      source: defaultTypes,
      close: function( event, ui ) { refreshType(); }
    });

    
    function changeLang(lang) {
      $.post( "/lang/setlang/", { "language": lang, "csrfmiddlewaretoken": "{{ csrf_token }}"}, function( data ) {
        location.reload();
      });
    }
  
    $(function() {
      $( "#btn-lang-en" ).click(function( event ) {
        changeLang("en");
      });
      
      $( "#btn-lang-pl" ).click(function( event ) {
        changeLang("pl");        
      });
    });    
  </script>
    
  <script src="/static/js/phaser.min.js"></script>
  <script src="/static/js/canvas2image.js"></script>  
  
  <!--script src="/static/js/card_types.js"></script-->
  
  <script src="/static/js/app.js"></script>
  <script src="/static/js/states/Boot.js"></script>
  <script src="/static/js/states/Preload.js"></script>
  <script src="/static/js/states/Game.js"></script>

</body>
</html>