{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Twój login i hasło nie pasują. Spróbuj ponownie.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Twoje konto nie ma dostępu do tej strony. Aby kontynuować,
    zaloguj się korzystając z konta, które ma dostęp.</p>
    {% else %}
    <p>Zaloguj się by zarządzać swoimi kartami na stronie.</p>
    {% endif %}
{% endif %}
<div id="frm-login">
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>
  <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
  </tr>
  <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
  </tr>
  </table>
  
  <input type="submit" class="btn btn-primary" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>

{% endblock %}